<%- include('../primary/onHead', { data: data }); -%>
<section class="wow fadeIn">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url('/img/culture.jpg');">
                    <span class="login100-form-title-1">Iniciar Sesión</span>
                </div>

                <div class="text-center" style="padding-top: 15px;">
                    <img src="/img/cartelera.png" class="rounded" alt="Cartelera Logo"/>
                </div>

                <div class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email es requerido">
                        <span class="label-input100">Email</span>
                        <input id="email" class="input100" type="email" name="email"/>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "La contraseña es requerida">
                        <span class="label-input100">Contraseña</span>
                        <input id="psswd" class="input100" type="password" name="password"/>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="senderbtn" class="login100-form-btn">ENTRAR</button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(() => {

        $("#senderbtn").click(() => {
            const data = {
                email: $("#email").val(),
                password: $("#psswd").val()
            };

            $.ajax({
                url: "/login",
                method: "POST",
                data: data,
                success: (result) => {
                    if(result.success){
                        if(result.level === "admin"){
                            window.location.href = "/users";
                        } else{
                            window.location.href = "/events";
                        }
                    }else{
                        alert("Usuario incorrecto");
                    }
                }
            });
        });

    });
</script>
<%- include('../primary/onBody', { data: data }); -%>