<%- include('../primary/onHead', { data: data }); -%>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-cal">
        <div class="container">
            <a href="http://www.hidalgo.gob.mx/" class="navbar-brand gobbrand" title="Ir a la página inicial">
                <img alt="gob.mx" src="http://cdn.hidalgo.gob.mx/logo_gobhidalgo.svg"/>
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://ruts.hidalgo.gob.mx/">Trámites y Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://gobierno.hidalgo.gob.mx/">Gobierno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://estado.hidalgo.gob.mx/">Estado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.hidalgo.gob.mx/#buzon">Buzón Ciudadano</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar2">
        <div class="container">
            <a href="/" class="navbar-brand">
                <div class="logosecretaria"></div>
                <div class="nombresecretaria">
                    <strong>Cartelera Digital</strong>
                </div>
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown2">
                <ul class="navbar-nav">
                    <li><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div id="root"></div>
<link rel="stylesheet" type="text/css" href="/<%= data.name %>/css/index.css">
<script type="text/javascript" src="/<%= data.name %>/index.js"></script>
<footer id="footer" class="main-footer">
    <div class="container">
        <div class="row justify-content-center align-items-center row-gob">
            <div class="col-12 col-md-4 text-center align-items-center">
                <a href="http://www.hidalgo.gob.mx/">
                    <img class="logo_gobhidalgo gobmx-footer" alt="logotipo hidalgo.gob.mx" src="http://cdn.hidalgo.gob.mx/logo_gobhidalgo.svg" width="226" height="39"/>
                </a>
            </div>
            <div class="imgfoot col-12 col-md-4">
                <img class="escudo_blanco" alt="escudo gob.mx" src="http://cdn.hidalgo.gob.mx/escudo_blanco.svg"/>
                <p style="text-align: center;">&copy; 2019 Gobierno del Estado de Hidalgo</p>
            </div>
            <div class="col-12 col-md-4 redes text-center">
                <p>
                    <strong style="font-size: 20px;">Contacto</strong>
                    <br></br>Calle General Ignacio Mejía, Colonia Morelos
                    <br></br>Pachuca de Soto, Hidalgo, México
                    <br></br>+52 (771) 107 0707
                </p>
                <div>
                    <center>
                        <a style="font-size: 30px; padding: 10px;" href="https://www.facebook.com/CulturaHidalgo/" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a style="font-size: 30px; padding: 10px;" href="https://twitter.com/CulturaHidalgo" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</footer>
<%- include('../primary/onBody', { data: data }); -%>